$slide-height: 19rem;
$slide-spacing: 1rem;
$slide-size: 80%;
$slide-size-sm: 45%;
$slide-spacing-sm: 0.5rem;
$slide-size-md: 20%;
$slide-spacing-md: 0.5rem;
$slide-size-lg: calc(100% / 5);
$slide-spacing-lg: 0.5rem;
$slide-size-xl: calc(100% / 7);
$slide-spacing-xl: 1rem;

:export {
  slide-height: $slide-height;
  slide-spacing: $slide-spacing;
  slide-size: $slide-size;
  slide-spacing-sm: $slide-spacing-sm;
  slide-size-sm: $slide-size-sm;
  slide-spacing-lg: $slide-spacing-lg;
  slide-size-lg: $slide-size-lg;
}

.embla {
  max-width: 70rem;
  margin: auto;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
}
@media (min-width: 750px) {
  .embla__container {
    margin-left: calc($slide-spacing-sm * -1);
  }
}

.embla__slide {
  min-width: 0;
  flex: 0 0 $slide-size-sm;
  padding-left: $slide-spacing-sm;
}
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 $slide-size-md;
    padding-left: $slide-spacing-md;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 $slide-size-lg;
    padding-left: $slide-spacing-lg;
  }
}

@media (min-width: 1280px) {
  .embla__slide {
    flex: 0 0 $slide-size-xl;
    padding-left: $slide-spacing-lg;
  }
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
//   .embla__button {
//     -webkit-appearance: none;
//     appearance: none;
//     background-color: transparent;
//     touch-action: manipulation;
//     display: inline-flex;
//     text-decoration: none;
//     cursor: pointer;
//     border: 0;
//     padding: 0;
//     margin: 0;
//     box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
//     width: 3.6rem;
//     height: 3.6rem;
//     z-index: 1;
//     border-radius: 50%;
//     color: var(--text-body);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//   .embla__button:disabled {
//     color: var(--detail-high-contrast);
//   }
//   .embla__button__svg {
//     width: 35%;
//     height: 35%;
//   }
//   .embla__dots {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-end;
//     align-items: center;
//     margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
//   }
//   .embla__dot {
//     -webkit-appearance: none;
//     appearance: none;
//     background-color: transparent;
//     touch-action: manipulation;
//     display: inline-flex;
//     text-decoration: none;
//     cursor: pointer;
//     border: 0;
//     padding: 0;
//     margin: 0;
//     width: 2.6rem;
//     height: 2.6rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//   }
//   .embla__dot:after {
//     box-shadow: inset 0 0 0 0.2rem var($detail-medium-contrast);
//     width: 1.4rem;
//     height: 1.4rem;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     content: '';
//   }
//   .embla__dot--selected:after {
//     box-shadow: inset 0 0 0 0.2rem var($text-body);
//   }
.embla__parallax {
  border-radius: 1.8rem;
  height: 100%;
  overflow: hidden;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.embla__parallax__img {
  max-width: none;
  flex: 0 0 calc(115% + ($slide-spacing * 2));
  object-fit: cover;
}
