.title {
  transform: translate3d(0px, 70.2875px, 0px);
  transition-duration: 0.5s;
  transition-delay: 5000ms;
}
.test {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.5s 5000ms;
  & > p {
    overflow: hidden;
  }
}
