.title {
  transform: translate3d(0px, 70.2875px, 0px);
  transition-duration: 0.5s;
  transition-delay: 5000ms;
}
.test {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.5s 5000ms;
  & > p {
    overflow: hidden;
  }
}

.swiper-wrapper {
  @media screen and (max-width: 1280px) {
    &:hover {
      .swiper-slide {
        transform: translateX(-15%);
        opacity: 0.3;

        &:hover {
          transform: scale(1.3) !important;
          z-index: 20;
          opacity: 1;

          ~ .swiper-slide {
            transform: translateX(15%);
          }
        }
      }
    }
  }

  &.is-left {
    &:hover {
      .swiper-slide {
        &:hover {
          ~ .swiper-slide {
            transform: translateX(28%);
          }
        }
      }
    }
  }

  &.is-right {
    &:hover {
      .swiper-slide {
        transform: translateX(-30%);
        opacity: 0.3;

        &:hover {
          transform: scale(1.3) !important;
          z-index: 1;
          opacity: 1;

          ~ .swiper-slide {
            transform: translateX(0%);
          }
        }
      }
    }
  }
}

.swiperSlide {
  &:hover {
    ~ .swiperSlide {
      transform: translateX(15%);
    }
  }
}
